<!DOCTYPE html>
<html>


<%- include('./partials/head'); %>

<body>
    <%- include('./partials/navbar'); %>
    <div class="my-container">
        <h1>This is about page</h1>
        <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet optio quos temporibus illo sequi saepe. Id
                sapiente molestias nulla cum. Voluptatibus fugit assumenda eius alias laborum tempore sit! Rem libero
                accusantium, et eos ducimus, dicta aperiam porro doloremque sequi possimus ipsa quaerat nihil iste. Hic
                quasi officia voluptates excepturi molestias fugit aperiam fugiat velit, ab accusamus magnam! Tempora
                ducimus iure aperiam doloribus sit? Eius quibusdam dignissimos illum quia ut aperiam accusamus.
                Repellendus,
                ratione enim fugiat asperiores, illum nam ut porro necessitatibus corrupti quae at officiis non
                excepturi
                incidunt quia, molestias error. Cumque expedita necessitatibus ipsam. Aliquam ut numquam aspernatur
                quos?
            </p>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>

</html>