<!DOCTYPE html>
<html>

<%- include('./partials/head'); %>

<body>
    <%- include('./partials/navbar'); %>
    <div class="my-container">
        <h1>Welcome!</h1>
        <div id='preloader'>
            <img src="/img/Spinner-1s-200px.gif" alt="preloader">
        </div>

    </div>
    <%- include('./partials/footer'); %>
</body>

</html>